.box{
    display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    height: 100%;
    width: 100%;
    background-color: #FAFAFA;
}
.play_title{
    width: 90%;
    margin: 0;
    margin-bottom: 1rem;
    height: 1rem;
}
@media only screen and (min-width: 1700px) {
    .play_title{
        font-size: 2rem;
    }
}
@media only screen and (max-width: 600px) {
    .box{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .play_title{
        margin: 0;
        width: 85%;
        

    }
}